[submodule "third_party/posix-uefi"]
	path = third_party/posix-uefi
	url = https://gitlab.com/bztsrc/posix-uefi.git
[submodule "third_party/toml-c"]
	path = third_party/toml-c
	url = https://github.com/arp242/toml-c
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://git.musl-libc.org/git/musl
[submodule "third_party/EightBit-Atari-Fonts"]
	path = third_party/EightBit-Atari-Fonts
	url = https://github.com/a8bit/EightBit-Atari-Fonts.git
